.main {
  display: grid;
  place-items: center;
  height: 100%;
 
  h1 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .gamesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
