.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  pointer-events: none;
  background: hsla(0, 0%, 4%, 0.75);
  transition: opacity 0.2s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .container {
    display: flex;
    align-items: center;
    gap: 2rem;

    h1 {
      // temp
      font-size: 26px;
    }

    .linkGroup {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.25rem;

      a {
        padding: 0.25rem 0.75rem;
        border-radius: var(--rounded-sm);

        &:hover {
          background: rgba(95, 46, 126, 0.5);
        }

        h3 {
          cursor: pointer;
        }
      }
    }
  }
}
