@import url("https://fonts.googleapis.com/css2?family=Avenir+Next:wght@400;500;600;700&family=Fira+Code:wght@400;700&family=Fira+Mono:wght@400;700&family=Manrope:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --font-base: "Avenir Next", "Manrope", sans-serif;
  --font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --h: 180;
  --s: 2%;
  --l: 20%;
  --color-bg: #1a1429;
  --color-bg-secondary: #0e0a1a;
  --color-text: #d9d9d9;
  --color-accent: #8250c4;
  --color-hover: #5f2e7e;
  --color-highlight: #4a405d;
  --color-grey-100: #fff;
  --color-grey-300: #e4e7e7;
  --color-grey-400: #c9cfcf;
  --color-grey-500: #9ea9a9;
  --color-grey-700: #7a8484;
  --color-grey-900: #3b4040;
  --color-grey-950: #272a2a;
  --color-primary: hsl(var(--h), var(--s), var(--l));
  --shadow-glow: 8px 8px 16px rgba(95, 46, 126, 0.5);
  --shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-lg: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --rounded-sm: 0.5rem;
  --rounded-md: 1.5rem;
  --rounded-lg: 2rem;
  --wui-color-accent-base-100: var(--color-accent) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body,
#__next {
  min-height: 100% !important;
  height: 100%;
}

body {
  font-family: var(--font-base);
  background: linear-gradient(to top, var(--color-bg), #0e0a1a);
  background-attachment: fixed;
}

header,
footer {
  background: #0e0a1a;
}

ul,
li {
  list-style-position: inside;
}

header {
  position: fixed;
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
a,
span,
button {
  color: var(--color-text);
}

a {
  text-decoration: none;
}

button {
  font-weight: 700;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
